@page "/resultado10"
@using Tarea5.Data

<h3>Resultado 10</h3>
<p>Mostrar el cliente que mas dinero ha gastado, mostrar los datos del cliente, la cantidad de ordenes y el total de la misma. (un solo cliente)</p>

<DataGrid Datos="@data" />
@code {

    int num = 0;

    List<Dictionary<string, object>> data = new List<Dictionary<string, object>>();

    protected override async Task OnInitializedAsync()
    {
        String sql = @"SELECT c.id, c.last_name, c.first_name, SUM(o.id), SUM(o.id)*od.quantity*od.unit_price FROM order_details od
INNER JOIN orders o ON o.id = od.order_id
INNER JOIN customers c ON c.id = o.customer_id
GROUP BY c.id
LIMIT 1";
        data = Connection.Consulta(sql);

        num = data.Count;   
    }
}
