@page "/resultado8"

<h3>Resultado 8</h3>
<p>Mostrar los suplidores y la cantidad de productos que suplen. Mostrarlos de mayor a menor, mostrando el codigo de suplidor, nombre y cantidad de productos que este suple.</p>

@code {

}
