@page "/resultado10"

<h3>Resultado 10</h3>
<p>Mostrar el cliente que mas dinero ha gastado, mostrar los datos del cliente, la cantidad de ordenes y el total de la misma. (un solo cliente)</p>

@code {

}
