@page "/resultado1"
@using Tarea5.Data

<h3>Resultado 1</h3>
<p>Listado de los empleados, nombre, apellido y teléfono. @num</p>

<DataGrid Datos="@data" />
@code {

    int num = 0;

    List<Dictionary<string, object>> data = new List<Dictionary<string, object>>();

    protected override async Task OnInitializedAsync()
    {
        String sql = "Select first_name, last_name, business_phone from employees";
        data = Connection.Consulta(sql);

        num = data.Count;   
    }
}
